   # Core dependencies
   numpy
   pandas
   pyyaml
   fuzzywuzzy[speedup]
   sentence-transformers
   --find-links https://download.pytorch.org/whl/torch_stable.html
   torch==2.0.1+cpu
   openai==0.28
   nltk
   faiss-cpu
   python-dotenv
   Flask
   matplotlib

   # Database
   mysql-connector-python

   # Server
   gunicorn==20.1.0